/* Comentários no CSS*/

/*Padrão CSS
seletor{
	propriedade:valor;
	propriedade2:valor2;
}
*/

/*Este seletor refere-se a toda a página*/
*{
	margin:0;
	padding:0;
}

/*TAGS*/
header{
	background-color: #1D378C;
	height: 100px;
	color: white;
	padding: 10px;
	position: fixed;
	width: 100%;
	z-index: 999;
}

body{
	background-color:#e1e1e1;
	color:green;
	font-family:Calibri;
	font-size:1em;
}

footer{
	clear: both;
	background-color:#1D378C;
	color: #E0E0E0;
	text-shadow: 1px 1px 1px #111111;
	height: 50px;
	text-align: center;
	padding: 10px 0px 0px 0px;
}

h1{
	color: #1D378C;
	text-shadow: 1px 1px 1px #E0E0E0;
	text-align: center;
	margin: 0 0 50px 0;
}

p{
	color: white;
	text-shadow: 1px 1px 1px #111111;

}

/*IDs*/
#logo{
	width: 30%;
	float:left;
}

#slide{
	width: 100%;
	overflow: hidden;
	height: 500px;
	margin: 50px auto;
	box-shadow: 0 0 8px #000;
	position: relative;
}

#slide img{
	position: absolute;
	z-index: 1;
	display: none;
	left: 0;
}

#slide p {
	z-index:2;
	position: absolute; 
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px; 
	font-family: Arial; 
	font-size: 14px; 
	background: rgba(0,0,0,0.5);  
	color: #fff;
}

#principal{
	background-image: #eaeaea;
	clear: both;
	background-size: 100%;
	min-height: 400px;
	padding: 150px 0 30px 0;
}

/*CLASS*/
.menu{
	margin-top: 35px;
	float:right;
}

.menu a{
	background: red;
	overflow: hidden;
	font-size: large;
	height: 100%;
	padding: 60px 15px;
	text-decoration: none;
	color: #EAEAEA;
	text-shadow: 1px 1px #111111;
}

.menu a:hover{
	background-color: #e1e1e1;
	background-size: inherit;
	height: 100%;
	color: #1D378C;
	text-shadow: none;
}

.container{
	width: 960px;
	margin: 0 auto;
}

.efeito{
	background-color: rgba(0, 0, 0, 0.5);
	padding: 60px 0 60px 0;
}


